<div>
  <h1>{{title}}</h1>
  <div class="container">
    <mat-card *ngFor="let dance of dances" appearance="outlined">
      <mat-card-header>
        <h2>{{dance.style}}</h2>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p><b>Description: </b>{{dance.description}}</p>
        <p><b>History: </b>{{dance.history}}</p>
        <a [href]="dance.link" target=”_blank”>YouTube Link for {{dance.style}}</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet />
